/* your styles go here */
/* Color Theme Swatches in Hex */
.Coral-Cave-1-hex {
    color: #3D527A;
}

.Coral-Cave-2-hex {
    color: #7DBBD6;
}

.Coral-Cave-3-hex {
    color: #FC7969;
}

.Coral-Cave-4-hex {
    color: #5A1917;
}

.Coral-Cave-5-hex {
    color: #D95551;
}

/* Color Theme Swatches in RGBA */
.Coral-Cave-1-rgba {
    color: rgba(61, 82, 121, 1);
}

.Coral-Cave-2-rgba {
    color: rgba(124, 186, 214, 1);
}

.Coral-Cave-3-rgba {
    color: rgba(251, 121, 105, 1);
}

.Coral-Cave-4-rgba {
    color: rgba(89, 24, 23, 1);
}

.Coral-Cave-5-rgba {
    color: rgba(216, 84, 80, 1);
}

/* Color Theme Swatches in HSLA */
.Coral-Cave-1-hsla {
    color: hsla(219, 33, 35, 1);
}

.Coral-Cave-2-hsla {
    color: hsla(198, 52, 66, 1);
}

.Coral-Cave-3-hsla {
    color: hsla(6, 96, 70, 1);
}

.Coral-Cave-4-hsla {
    color: hsla(1, 59, 22, 1);
}

.Coral-Cave-5-hsla {
    color: hsla(1, 64, 58, 1);
}